/* Variables */

:root {
    --primary: #fff;
    --secondary: #8189d7;
    --bg: #f2f7f9;
    --transparent: transparent;
    
    
    --colorIcon: #b5b6b7;
    --colorTitle: #222;
    --colorSubtitle: #888;
    --colorText: #555
    
}

/* Estilos Generales */

html {
    font-size: 10px;
    font-family: 'Poppins', helvetica;
}

/* Bg-Img */
body {
    
    background-image: url(../img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -20px -120px;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    font-size: 1.5rem;
    color: var(--colorText);
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--colorTitle);
}

/* Layuot */
.layout {
    position: relative;
    min-width: 1290px;
    width: 75%;
    min-height: 80vh;
    height: 80vh;
    margin: 10vh;
    /*areadelcontenido*/display: grid;
    grid-template-areas: "aside content";
    grid-template-columns: 30% 70%;

    /*sombraLayout*/
    border-radius: 4rem ;
     -webkit-border-radius: 4rem ;
    -moz-border-radius: 4rem ;
    -ms-border-radius: 4rem ;
    -o-border-radius: 4rem ;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);
    
}



/* Barra Lateral */

.layout__aside {
    grid-area: aside;
    border-radius: 4rem 0 0  4rem;
    -webkit-border-radius: 4rem 0 0  4rem;
    -moz-border-radius: 4rem 0 0  4rem;
    -ms-border-radius: 4rem 0 0  4rem;
    -o-border-radius: 4rem 0 0  4rem;
    overflow: auto;
    overflow-x: hidden;  
    
}


.aside__userInfo {
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    min-width: 30rem;
}


.userInfo__containerImg{
    display: inline-block;
    position: relative;
    width: 18rem;
    margin-top: 8rem;
    background-color: var(--primary);
    border: 5px solid var(--primary);
    border-radius: 20rem;
    overflow: hidden;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
}


.userInfo__name {
    font-size: 3.5rem;
    margin-top: 3rem;
    color: var(--primary);
}
.userInfo__job {
    font-size: 1.7rem;
    font-weight: 200;
    color: var(--primary);
    margin: 2rem;
}

.userInfo__img {
    width: 100%;    
}




.userInfo__links{
    margin-bottom: 3.6rem;
    display: flex;
    flex-direction: row;
}


.links__social{
    margin-top: 2rem;
    display: flex;
    gap: 2.8rem;
}

.social__item{
    
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    opacity: 0.9;
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}

.social__item:hover{
    opacity: 1;
    font-size: 1.8rem;
    background-color: rgba(255,255,255,0.20);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.userInfo__buttons{
    border: 2px solid var(--primary);
    padding: 1.5rem;
    border-radius: 10rem;
    margin-top: 2rem;
    margin-bottom: 10rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    -o-border-radius: 10rem;
    color: var(--primary);
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.20)
}

.userInfo__buttons:hover{
    
    background-color: var(--primary);
    color: var(--secondary);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
    box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.8)
  
}

.userInfo__footer{
    position: absolute;
    font-size: 1.4rem;
    bottom: 3rem;
}


/* Layout Content */

.layout__content{
    grid-area: content;
    background-color: var(--secondary);
    border-radius: 0 10rem 10rem 0;
    height: 100%;
    min-height: 100%;
    -webkit-border-radius: 0 10rem 10rem 0;
    -moz-border-radius: 0 10rem 10rem 0;
    -ms-border-radius: 0 10rem 10rem 0;
    -o-border-radius: 0 10rem 10rem 0;
}

.content__page{
 background-color: var(--bg);
 height: 100%;
 width: 100%;
 border-radius:3.2rem ;
 -webkit-border-radius:3.2rem ;
 -moz-border-radius:3.2rem ;
 -ms-border-radius:3.2rem ;
 -o-border-radius:3.2rem ;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.page__name{
font-size: 7rem;
font-size: 7rem;
font-weight: bold;
margin-bottom: 1rem;
color: var(--colorTitle);
}

.page__job {
    font-size: 2.3rem;
    font-weight: lighter;
    /* color: var(--colorSubtitle); */

}


/* Menu Navegacion lateral */
.layout__menu{
    display: block;
    position: absolute;
    top: 0;
    right: -110px ;
    background-color: var(--transparent);
    min-width: 11rem;
}


.menu__list {
    position: relative;
    background-color: var(--primary);
    width: 60%;
    min-height: 40rem;
    box-shadow: 0,0,3rem, -0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 6rem;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -ms-border-radius: 6rem;
    -o-border-radius: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    margin-left: 2.5rem;
    
    
    
}

.menu__item{
    display: block;
    width: 100%;
    text-align: center;
}


.menu__item:hover .menu__icon{
    color: var(--secondary);
    transition: all 250ms ease-in-out;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    -ms-transition: all 250ms ease-in-out;
    -o-transition: all 250ms ease-in-out;
}

.menu__overlay{
    position: absolute;
    right: 0;
    margin-top: -3rem;
    padding: 0.5rem 1rem;
    display: block;
    opacity: 0;
    color: var(--primary);
    background-color: var(--secondary);
    white-space: nowrap;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.menu__item .menu__overlay:hover {
    opacity: 1;
    right: 100%;
}

.menu__icon{
    color: var(--colorIcon);
    font-size: 2.8rem;
}


/* Sobre Mi  */

.content__SobreMi{
    overflow: auto;
    min-height: 100%;
    height: 100%; 
    display: block;
    padding: 6rem;
    padding-right: 3rem;    
}